<!-- views/partials/footer.ejs -->

<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">Thrivikram Mudunuri © Copyright 2018 <a href="#</a></p>
    </div>
</footer>
