<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active show" data-toggle="tab" href="#">Tenant</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#">Property</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

