<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

	<% include ../partials/nav %>


	<div class="container mt-5">
		<div class="row">


			<figure>
				<h4>ER Diagram</h4>
				<center>
					<img class="er" src="/public/ER.png" alt="Unable to load image." >
					<figcaption>Fig.1 - ER Diagram.</figcaption></center>
				</figure>
				<figure>
					<h4>ER Schema</h4>
					<center><img class = "er" src="/public/Schema.jpg" alt="Unable to load image.">
						<figcaption>Fig.2 - ER Schema.</figcaption></center>
					</figure>
					<style type="text/css">
					.er {
						max-width: 80%;
					}
				</style>

			</div>
			<div class="row">
				<p>A property manager is a third party who is hired by a landlord or property investor to manage the day-to-day operations at rental property. Their exact responsibilities will vary based on the type of property they are managing, the amount they are getting paid and the terms of the management contract. The Preoperty Rental Management Software aims to replace a typical rental manager. Here are seven of the most common tasks a property manager is responsible for. </p>
				<ol>
					<h5><li>Rent Responsibilities</li></h5>

					<ul>
						<p>Dealing with rent issues is one of the most common responsibilities of a property manager. This includes:</p>

						<li>Setting Rent: The property manager is responsible for setting the right rent level to attract tenants to your property. They understand the market where the property is located and have looked at comparable properties in the area.</li>
						<li>Collecting Rent: They ensure optimal cash flow by setting a date to collect rent each month and strictly enforcing late fees.</li>
						<li>Adjusting Rent: The property manager can increase the rent by a fixed percentage each year, according to individual state and/or municipal law. They can also decrease the rent if they feel it is necessary.</li>
					</ul>

					<h5><li>Tenant Responsibilities</li></h5>
					<ul>
						<p>Managing tenants is another core responsibility of a property manager. They are involved in all areas, including:</p>

						<li>Finding Tenants: Property managers are responsible for filling vacancies. They know where to advertise the rental and what to include in their ads. They also understand what attracts tenants, so they can offer tips to help makeover the property.</li>
						<li>Screening Tenants: Property managers should have a consistent screening process, including running credit checks and criminal background checks, which can decrease your chances of being accused of discrimination. Experienced property managers have seen hundreds, even thousands, of tenants, so they have a better idea of how to select the right tenants; those who will pay their rent on time, have a longer tenancy and create fewer problems.</li>

						<li>Handling Leases: This can include setting the lease term and making sure it has all the necessary clauses to protect the owner. This includes determining the amount of security deposit required.
						Handling Complaints/Emergencies: They are paid to deal with maintenance requests, noise complaints and they have the necessary contacts to handle emergency situations.</li>
						<li>Handling Move Outs: When a tenant moves out, the manager is responsible for inspecting the unit, checking for damages and determining what portion of the security deposit will be returned to the tenant. After move out, they are responsible for cleaning the unit, repairing any damages and finding a new tenant.</li>

						<li>Dealing With Evictions: When a tenant does not pay rent or otherwise breaches the terms of a lease, the property manager understands the proper way to file and move forward with an eviction.</li>

					</ul>
					<h5><li>Maintenance and Repairs</li></h5>
					<ul>
						<p>The property manager must keep the property in safe and habitable condition. Property managers are responsible for the physical management of the property, including regular maintenance and emergency repairs.</p>

						<li>Property Maintenance: This includes performing preventative property maintenance to keep the property functioning in top condition. For example, they are personally in charge of, or must hire someone to, exterminate, check for leaks, landscape, shovel snow and remove trash. This maintenance aims to keep current tenants happy and attract new tenants.</li>
						<li>Repairs: When there is an issue, the property manager must fix the problem or hire someone else to do it. They often have a large network of reliable plumbers, electricians, carpenters and other contractors</li>.
					</ul>
					<h5><li>Knowledge of Landlord-Tenant Law</li></h5>
					<ul>
						<p>Good property managers have an in-depth knowledge of statewide and national laws regarding the proper ways to:</p>

						<li>Screen a Tenant</li>
						<li>Handle Security Deposits</li>
						<li>Terminate a Lease</li>
						<li>Evict a Tenant</li>
						<li>Comply With Property Safety Standards</li>
					</ul>
					<h5><li>Supervising Responsibilities</li></h5>
					<ul>
						<li>Other Employees: If there are other employees in the property, such as a concierge or security personnel, the property manager is responsible for making sure they are doing their job. The property manager can set their salaries and even fire them.</li>
						<li>Vacant Properties: Property managers are often hired to look after vacant properties to make sure there has been no vandalism and to perform routine maintenance. They also make sure contractors and other repairmen are completing their work in a timely manner.</li>
					</ul>
					<h5><li>Responsible for Managing the Budget/Maintaining Records</li></h5>
					<ul>
						<p>Property managers can be responsible for managing the budget for the building and for maintaining all important records.</p>

						<li>Managing Budget: The manager must operate within the set budget for the building. In certain emergency situations when the occupants (tenants) or physical structure (investment property) are in danger, they may use their judgment to order repairs or likewise without concern for the budget.</li>
						<li>Maintaining Records: The property manager should keep thorough records regarding the property. This should include all income and expenses; list of all inspections, signed leases, maintenance requests, any complaints, records of repairs, costs of repairs, maintenance costs, record of rent collection and insurance costs.</li>
					</ul>
					<h5><li>Responsible for Taxes</li></h5>
					<ul>
						<li>The property manager can assist the property owner with understanding how to file taxes for the investment property.
						The property manager can also file taxes for the property.</li>
					</ul>
				</ol>

			</div>
		</div>

		<% include ../partials/footer %>

		<% include ../partials/scripts %>

	</body>
	</html>