<!DOCTYPE html>
<html lang="en">

<% include ../partials/head %>

<body>

    <% include ../partials/nav %>

    <div class="jumbotron">
      <h1 class="display-43">
        Property Rental Management
        <small class="text-muted">By Thrivikram Mudunuri</small>
    </h1>
    <p class="lead">A simple CRUD Application to manage Property Rentals.</p>
    <hr class="my-4">
    <p>It simplifies maintenance of property rentals for ownsers and tenants.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>



<% include ../partials/scripts %> 

</body>

</html>